/* src/styles/global.css */
@import "./tokens/color.css";
@import "./tokens/typography.css";
@import "./tokens/spacing.css";
@import "./tokens/focus.css";
@import "./tokens/themes.css";
@import "./tokens.css";

/*  */
/* @import "./tokens/semantic.css";
@import "./tokens/theme-light.css";
@import "./tokens/theme-dark.css"; */

* { box-sizing: border-box; }

html, body { height: 100%; }

body {
  margin: 0;
  font-family: var(--ds-font-family);
  font-size: var(--ds-font-size-14);
  line-height: 1.4;
  color: var(--ds-text);
  background: var(--ds-bg);
}

a { color: inherit; text-decoration: none; }
