@import "./tokens/color.css";
@import "./tokens/typography.css";
@import "./tokens/spacing.css";
@import "./tokens/focus.css";
@import "./tokens/themes.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-14);
  line-height: var(--line-height-base);
  color: var(--color-gray-900);
  background: var(--page-bg);
}

a {
  color: inherit;
  text-decoration: none;
}
